<div class="offset-lg-1 col-lg-10">
    <div class="container">
        <div class="col-lg-12">
            <div class="row mt-4">

                <div class="col-lg-2">
                    <a href="#"> Accueil </a>
                </div>
                <div class="offset-lg-6 col-lg-2">
                    <button mat-raised-button color="warn" class="fight" (click)="fullCombat()">

                        Start fighting

                    </button>
                </div>
                <div class="col-lg-2">
                    <button mat-raised-button color="primary" class="fight" (click)="beginFight()">
                        New fight
                    </button>
                </div>
            </div>
            <hr>
            <h3 class="center">Mon équipe de combat : <span class="compteur"> Points : {{ fight.compteur }} </span></h3>
            <p *ngIf="fight.winner == fight.equipe" class="looser"> YOU LOOSE </p>
            <p *ngIf="fight.winner == fight.equipeAdv" class="winner"> YOU WIN ! </p>
            <div fxLayout="row wrap">
                <div *ngFor='let pokemon of fight.equipe' fxFlex="33%" fxFlex.lt-md="60%" fxLayoutAlign="center center">
                    <mat-card fxLayout="row" class="example-card" style="width: 100%; height:90%;">
                        <img mat-card-image [src]="pokemon.picture" class="card-image" style="width: 200px;">
                        <div fxLayout="column" fxLayoutAlign="center center">
                            <mat-card-content>
                                <p>{{ pokemon.id }}. {{ pokemon.name }}</p>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" [ngStyle]="{
                                    'width': progress(pokemon),
                                    'background-color': color(pokemon)
                                }" aria-valuenow="progress(pokemon)" aria-valuemin="0" aria-valuemax="100">
                                        {{progress(pokemon)}}
                                    </div>
                                </div>
                                <p class="date"><small>{{ pokemon.hpMax }} pv / {{ pokemon.def }} def /
                                        {{ pokemon.speed }}
                                        speed</small></p>
                                <div fxLayout="row">
                                    <div *ngFor="let type of pokemon.types" class="badge badge-pill type-border"
                                        [ngStyle]="{'background-color' :  type | pokemonTypeColor }" fxLayout="row"
                                        fxLayoutAlign="center center">
                                        <span class="type-text">{{ type }}</span>
                                    </div>
                                </div>

                            </mat-card-content>
                            <mat-card-actions>
                                <div class="buttons">
                                    <span class="icons" *ngIf="fight.compteur > 2" (click)="evolvePokemon(pokemon)">
                                        <mat-icon>trending_up</mat-icon>
                                    </span>
                                    <span class="icons" *ngIf="fight.compteur > 1" (click)="rerollPokemon(pokemon,$event)">
                                        <mat-icon>autorenew</mat-icon>
                                    </span>
                                    <span class="icons" [className]="fight.indexP1 === null ? 'icons' : 'iconsChange' " *ngIf="fight.compteur > 0" (click)="changeOrder(pokemon)">
                                        <mat-icon>swap_horiz</mat-icon>
                                    </span>
                                </div>
                            </mat-card-actions>
                        </div>
                    </mat-card>
                </div>
            </div>
            <div class="actions row" *ngIf="compteur > 0">
                <div class="col-lg-12">
                    <h4>Actions :</h4>
                    <div class="row">
                        <div class="col-lg-4">
                            <h5><span class="icons">
                                    <mat-icon>trending_up</mat-icon>
                                </span> Evolve Pokémon (3pts) </h5>
                        </div>
                        <div class="col-lg-4">
                            <h5><span class="icons">
                                    <mat-icon>autorenew</mat-icon>
                                </span> Re Roll Pokémon (2pts) </h5>
                        </div>
                        <div class="col-lg-4">
                            <h5><span class="icons">
                                    <mat-icon>swap_horiz</mat-icon>
                                </span> Switch Pokémons (1pts) </h5>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
            <h3 class="center">Equipe adverse :</h3>
            <div fxLayout="row wrap">
                <div *ngFor='let pokemon of fight.equipeAdv' fxFlex="33%" fxFlex.lt-md="60%" fxLayoutAlign="center center">
                    <mat-card fxLayout="row" class="example-card" style="width: 95%; height:90%;">
                        <img mat-card-image [src]="pokemon.picture" class="card-image" style="width: 200px;">
                        <div fxLayout="column" fxFlex="40%">
                            <mat-card-content>
                                <p>{{ pokemon.id }}. {{ pokemon.name }}</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" [ngStyle]="{
                                        'width': progress(pokemon),
                                        'background-color': color(pokemon)
                                    }" aria-valuenow="progress(pokemon)" aria-valuemin="0" aria-valuemax="100">
                                        {{progress(pokemon)}}
                                    </div>
                                </div>
                                <p class="date"><small>{{ pokemon.hpMax }} pv / {{ pokemon.def }} def /
                                        {{ pokemon.speed }}
                                        speed</small></p>
                                <div fxLayout="row">
                                    <div *ngFor="let type of pokemon.types" class="badge badge-pill type-border"
                                        [ngStyle]="{'background-color' :  type | pokemonTypeColor }" fxLayout="row"
                                        fxLayoutAlign="center center">
                                        <span class="type-text">{{ type }}</span>
                                    </div>
                                </div>
                            </mat-card-content>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>